/* 
Untuk mengerjakan challenge di atas beberapa syntax CSS yang dipakai di antaranya:

 [v] color
 [v] font-size
 [v] background
 [v] font-weight
 [v] text-align
 [v] text-decoration
 [v] position
 */

body {
  background-image: url(../img/pattern.jpg);
}
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

header li {
  color: rgb(0, 44, 175);
  display: inline-flex;
  font-weight: bold;
  padding-right: 20px;
}

header a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Slabo 27px";
}

section {
  padding: 5px 10px 20px;
  margin: 65px 250px 10px;
  background-color: white;
}

section article {
  border-bottom: 2px solid grey;
  margin-top: 75px;
}

section h1 {
  text-align: center;
  font-family: "Slabo 27px";
}

section a {
  text-decoration: none;
  font-family: "Slabo 27px";
}

section p {
  font-family: "Slabo 27px";
}

footer {
  background-color: black;
  position: static;
  padding: 1px;
}

footer h5 {
  text-align: center;
  color: white;
  font-family: "Slabo 27px";
}
