.rounded-bottom {
  background-image: url(../img/latar.jpg);
}

.nav {
  background-image: url(../img/latar.jpg);
}
.nav-link {
  color: white;
  font-weight: bolder;
}

.d-inline-block {
  width: 75%;
  height: auto;
}

.login {
  font-weight: bold;
  font-size: x-large;
}
